.bitcoin-app{
    h2 {
        text-align: center;
        font-weight: 800;
        margin-top: 20px;
    }

    .fa-circle-plus {
        color: $clr2;
        font-size: 30px;
        margin-right: 30px;
    }
}