.home {
    // position:absolute;
    // top:50%;
    // left:50%;
    // transform: translate(-50%, -50%);
    height: 100vh;
    width: 100%;
    background-image: url(../../imgs/background2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;

    .home-info {
        padding: 70px;
        // background-color: #69bac0;
        background: #def7f3;
        gap: 20px;
        align-self: center;
        border-radius: 2em;
        margin-top: 70px;
        box-shadow: 0 0 3px #0000002b;
        opacity: 80%;

        h1 {
            font-weight: 600;
            color:#3d3b3b;
        }

    }
}